# Ignore node_modules in frontend
frontend/node_modules

# Ignore Yarn and npm log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore production build and other temp files
frontend/build/

frontend/package-lock.json
frontend/.pnp/
frontend/.pnp.js


# Ignore other common files and system files
.DS_Store
*.pyc
__pycache__/

# Ignore virtual environment folder
venv/
